/*==============================
Nav Section
==============================*/

.nav-button {
	display:block;
	width:3em;
	height:3em;
	border-radius:50%;
	border:1px solid #fff;
	position:absolute;
	position:fixed;
	top:20px;
	right:20px;
	z-index:1000;
	overflow:hidden;
	background-color:#273985;
	z-index:10100;
	box-shadow:0 0 10px rgb(0,0,0);
}

.button {
	display:none;
}

.logo-button {
	display:none;
}

.small-button {
	width:3em;
	height:3em;
	position:absolute;
	right:3em;
	background-color:#273985;
}

.small-logo {
	height:2em;
	width:2em;
	position:absolute;
	top:0.5em;
	right:0.5em;
}

.visible-logo-area {
	display:none;
}


.nav-ul {
	width:100%;
	height:100vh;
	background-color:#273985;
	position:absolute;
	position:fixed;
	right:-125%;
	top:0px;
	margin-top:0px;
	list-style-type:none;
}

.nav-li {
	display:block;
	margin-top:15%;
	margin-bottom:14%;
	text-align:center;
}

.nav-li-a {
	text-decoration:none;
	padding:15px;
	color:#fff;
	text-transform:uppercase;
}

/*==============================
Home Code
==============================*/

.serv-area {
	width:100%;
	height:10em;
}

.serv-area:hover {
	height:10em;
}

.first-area {
	top:0px;
}

.second-area {
	top:10em;
	left:0px;
}

.serv-sec-head {
	width:20%;
	position:absolute;
	left:0px;
	padding-right:5px;
	border-right:2px solid #696969;
	font-size:15px;
}

.serv-p {
	font-size:15px;
}

.first-head {
	top:15%;
}

.third-head {
	top:15%;
}

.serv-p {
	width:70%;
	position:absolute;
	left:22%;
	top:-40%;
}

.first-p {
	width:70%;
	top:-29%;
}

.sec-p {
	width:70%;
	top:-30%;
}

.third-p {
	width:70%;
	top:-60%;
}

.link-button {
	display:none;
}


/*==============================
General Code
==============================*/

#home-page-image {
	background-image:url("../img/coffee_small.jpg");
}

#about-page-image {
	background-image:url("../img/mountain_small.jpg");
}

#about-break {
	background-image:url("../img/mountain_small.jpg");
}

#employment-page-image {
	background-image:url("../img/talking_small.jpg");
}

.emp-image {
	background-image:url("../img/talking_small.jpg");
}

#opp-page-image {
	background-image:url("../img/comp_small.jpg");
}

.opp-img {
	background-image:url("../img/comp_small.jpg");
}

#res-page-image {
	background-image:url("../img/lake_small.jpg");
}

.res-img {
	background-image:url("../img/lake_small.jpg");
}

#dis-page-image {
	background-image:url("../img/hands_small.jpg");
}

.dis-img {
	background-image:url("../img/hands_small.jpg");
}

.text-h3 {
	width:40%;
}

.head-two-white {
	width:60%;
}

.text-body-p {
	width:80%;
}

.second-heading {
	width:80%;
}

.head-image {
	height:50vh;
}

.title-name {
	top:22.5%;
	text-align:center;
	font-size:25px;
}

.img-txt-break {
	width:80%;
}
